#color-pallete{
    display:flex;
}

.color {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

#pixel-board{
    margin-left: 10px;
    margin-top: 10px;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0px;
    float: left;
}

.pixel{
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}

.btn-limpar{
    margin-left: 20px;
}

